.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
!node_modules/chart.js/dist/chart.umd.js
!node_modules/chart.js/package.json
!node_modules/chart.js/LICENSE.md
!node_modules/h5wasm/**
node_modules/h5wasm/test/**
node_modules/h5wasm/src/**
node_modules/h5wasm/.github/**
node_modules/h5wasm/dist/esm/**
node_modules/h5wasm/dist/iife/**
.git/**
.github/**
*.vsix
